@{
    ViewData["Title"] = "Home Page";
}
@model List<JohnTable>

<div class="text-center">
    <h1 class="display-4">JOHNS</h1>
    <h2>Appreciation for the Johns of the World </h2>
    <h4>Hosted On: <img src="https://th.bing.com/th/id/R.e27bc490d9546daf8defcd9dd18dd3d4?rik=lj%2fxCsXPg%2btLWg&riu=http%3a%2f%2fwww.tradearabia.com%2fsource%2f2017%2f09%2f25%2faws.jpg&ehk=Fp5Us%2bUJZX%2fx8umINPaG7usaHWQkBzKpUOoudG4CVAQ%3d&risl=&pid=ImgRaw&r=0" width="50" /></h4>
</div>
<div class="row">
    <h5>
        <b>
            &nbsp; Filter By: &nbsp;&nbsp;&nbsp;<button class="badge"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">John</a></button> &nbsp;
            OR &nbsp; <button class="badge"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">John</a></button>
        </b>
    </h5>
</div>


<div class="text-center">
    <table align="center" class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td><h3><b>Picture</b></h3></td>
                <td><h3><b>Name</b></h3></td>
                <td><h3><b>About</b></h3></td>
            </tr>
        </thead>

        @*now add rows to the table, using a loop*@
        <tbody>
            @foreach (JohnTable m in Model)
            {
                <tr>
                    <td><img src="@m.Image" width="190" /></td>
                    <td style="text-align: center; vertical-align: middle;">
                        <h1>@m.First_name</h1>  <br />
                    <h1>@m.Last_name</h1></td>
                    <td style="text-align: center; vertical-align: middle;">
                        <h4>@m.About</h4>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
